<div class="container px-5 pt-4 mx-auto">
  <h1 class=" text-center">Results for {{ search.terms | highlight: search.terms }}</h1>
</div>
{% if search.results == empty %}
  <div class="container px-5  pt-5 pb-24 mx-auto">
    <h1 class=" text-center">No item found for the entered query</h1>
  </div>
{% else %}
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        {% for item in search.results %}
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">

              <img
                src="{{ item.featured_image | img_url: 'large' }}"
                width=""
                height=""
                alt=""
                class="object-cover object-center w-full h-full block">
            </a>
            <div class="mt-4">
              <h3 class="text-gray-500  tracking-widest title-font ">{{ item.object_type | capitalize }}</h3>
              <h2 class="text-gray-900 title-font text-lg font-medium">{{ item.title }}</h2>
              <p class="mt-1 text-xs underline">{{ "Click to View" | link_to: item.url }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}