<section>
  <!-- top image -->
  <div class="relative border border-[blue] flex  items-start">
    
      <img
        class="w-full h-full object-contain"
        width=""
        height=""
        src="{{ 'Mask Group 8.png' | asset_url }}" />
  
        <div class="absolute top-[85%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 lg:top-[50%] lg:left-[25%] flex items-center justify-center gap-2 border border-[red]">
        <a href="/account/login" class="text-white lg:text-xs text-[0.55rem] lg:px-10 px-3 py-2 rounded-full bg-[#009290]">JOIN CLUB &#8594;</a>
        <a href="/account/login" class="text-white lg:text-xs text-[0.55rem] lg:px-10 px-3 py-2 rounded-full bg-[#009290]">SIGN IN &#8594;</a>
      </div>
  </div>

  <!-- paragraph -->
  <div class="lg:px-[10rem] px-4 py-10 w-full bg-white">
    <h2 class="text-center mb-4 font text-4xl font-bold text-gray-600" style="font-family: Amatic SC">
      The Luxurious World Of Exciting Benefits Awaits You!
    </h2>
    <p class="text-center text-gray-800 text-sm text-gray-600" style="font-family: PlayFair Display">
      Discover Our Timeless Loyalty Club To Enjoy Delightful Rewards And Exclusive Perks.
    </p>
  </div>

  <!-- hand image -->
  <div class="HandContainer lg:px-[10rem] px-8 py-48">
    <div class="bg-[#EDE9DD] w-fit mx-auto px-12 py-8 border border-gray-500">
      <h2 class="text-center text-gray-500 text-4xl font-thin" style="font-family: Amatic SC">
        Whats in it there for you?
      </h2>
    </div>
  </div>

  <!-- circular icons -->
  <div class="px-4 lg:px-[10rem] px-8 py-8 h-auto ">
    <img
      class="w-full h-auto object-contain"
      width=""
      height=""
      src="{{ 'Image 59.png' | asset_url }}" />
  </div>

  <!-- oil container -->
  <div class="oilContainer lg:px-44 px-8 py-48">
    <div class="bg-[#EDE9DD] w-fit mx-auto border border-gray-500 lg:px-36 px-full py-8">
      <h2 class="text-center text-gray-500 text-4xl font-thin" style="font-family: Amatic SC">
        Go even further with more ways to earn points!
      </h2>
    </div>
  </div>

  <!-- startegic stats -->
  <div class="p-4 sm:px-4 lg:p-0 h-auto">
    <img
      class="w-full h-auto object-contain"
      width=""
      height=""
      src="{{ 'Image 63.png' | asset_url }}" />
  </div>

  <!-- bowl container -->
  <div class="bowlContainer lg:px-48 px-8 py-48">
    <div class="bg-[#EDE9DD] w-fit mx-auto px-20 py-7 border border-gray-500">
      <h2 class="text-center text-gray-500 text-4xl font-thin" style="font-family: Amatic SC">
        Tiers and Benefits
      </h2>
    </div>
  </div>

  <!-- table -->
  <div class="p-2 md:p-4 lg:px-36 overflow-x-auto h-auto ">
    <div class=" w-[764px] md:w-[1200px] h-auto m-auto">
      <img
        class="h-[77%] md:h-auto w-full"
        src="{{ 'Club.png' | asset_url }}"
        data-src-small="{{ 'Club-Sm.png' | asset_url }}"
        data-src-large="{{ 'Club.png' | asset_url }}"
        alt=""
        width=""
        height="" />
    </div>
  </div>

  <div class="bg-[#fbf9fa] flex lg:hidden items-center justify-center gap-2 lg:mt-2 py-4">
    <a href="/account/login" class="text-white text-xs px-10 py-2 rounded-full bg-[#009290]">SIGN IN &#8594;</a>
    <a href="/account/login" class="text-white text-xs px-10 py-2 rounded-full bg-[#009290]">JOIN CLUB &#8594;</a>
  </div>

  <!-- how to get started -->
  <div class="swiper-wrapper relative h-auto">
    <div class="swiper-slide hidden lg:block">
      <img
        class="w-full h-auto object-contain"
        width=""
        height=""
        src="{{ 'Hello.png' | asset_url }}" />
    </div>
    <div class="swiper-slide lg:hidden h-auto">
      <img
        class="w-full h-auto object-contain"
        width=""
        height=""
        src="{{ 'Group 1183.png' | asset_url }}" />
    </div>
    <div class="hidden lg:flex absolute bg-[#fbf9fa] left-1/2 lg:top-[85%] transform -translate-x-1/2 -translate-y-1/2 items-center justify-center gap-2 lg:mt-2">
      <a href="/account/login" class="text-white lg:text-xs text-[0.55rem] lg:px-10 px-3 py-2 rounded-full bg-[#009290]">JOIN CLUB &#8594;</a>
      <a href="/account/login" class="text-white lg:text-xs text-[0.55rem] lg:px-10 px-3 py-2 rounded-full bg-[#009290]">SIGN IN &#8594;</a>
    </div>
  </div>

  <!-- ending paragraph -->
  <div class="lg:px-36 px-4 py-10 w-full bg-white">
    <h2 class="text-center mb-1 font text-4xl font-bold text-gray-600" style="font-family: Amatic SC">
      Do you have any question about our loyalty program?
    </h2>
    <p class="text-center text-gray-800 text-sm text-gray-600" style="font-family: PlayFair Display">
      Email us for loyalty queries and complaints: service@timelessbeautysecrets.in
    </p>

    <p class="text-center text-gray-800 text-sm text-gray-600 mt-4" style="font-family: PlayFair Display">
      Call us for club queries and complaints: +91-9090530001
    </p>
  </div>
</section>

<style>
  .HandContainer {
    background-image: url('{{ 'Image 61.png' | asset_url }}');
    background-position: center;
    background-repeat: no-repeat;
  }

  .oilContainer {
    background-image: url('{{ 'Image 62.png' | asset_url }}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .bowlContainer {
    background-image: url('{{ 'Image 64.png' | asset_url }}');
    background-repeat: no-repeat;
    background-position: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
</style>


<script>
   // Change image src for small screens
   function changeImageSource() {
      isSmallScreen = window.innerWidth <= 700;
      images.forEach((image) => {
        const src = isSmallScreen
          ? image.getAttribute("data-src-small")
          : image.getAttribute("data-src-large");
        image.src = src;
      });
    }
  
    // Check window size when the page loads
    window.addEventListener("load", () => {
      changeImageSource();
    });
  
    // Check window size when it's resized
    window.addEventListener("resize", () => {
      changeImageSource();
    });
</script>

{% schema %}
  {
    "name": "Timeless Club",
    "settings": [],
    "presets": [
      {
        "name": "timelessClub"
      }
    ]
  }
{% endschema %}