<section>
  {% render 'BannerSlider' %}

  <!-- paragraph -->
  <div class="lg:px-[11rem] px-4 pb-4 w-full bg-white mt-[20px]">
    <h2 class="text-center mb-4 font text-3xl font-bold lg:text-5xl" style="font-family: Amatic SC">
      We SEEK THE ANCIENT,<br class="lg:hidden" />
      WE SEEK THE TIMELESS
    </h2>
    <p class="text-center text-gray-800 text-sm" style="font-family: PlayFair Display">
      We embrace the philosophy of self-care that comes from a sense of gratitude for what we hold dear. We believe in creating products that help you look and feel beautiful every day with meaningful gifts to share the love. Choose from a variety of gifting choices that combine the goodness of authentic Ayurveda in exquisite packaging. Our in-house team of specialists work closely to offer bespoke gifts that are perfectly suited to your needs.
    </p>
  </div>

  <!-- categories -->
  <div class="lg:px-[11rem] px-4 py-12 w-full">
    <div class="px-4 py-4 text-lg font-semibold text-gray-700">
      <h3>Categories</h3>
    </div>
    <div class="space-y-8">
      <!-- corporate gifting -->
      <div class="flex flex-col lg:flex-row">
        <div class="lg:w-1/2 w-full px-4 py-4">
          <img
            class="w-full mx-auto"
            src="{{ 'Mask Group 3.png' | asset_url }}"
            alt=""
            width=""
            height="" />
        </div>
        <div class="lg:w-1/2 w-full px-4 py-4 flex flex-col gap-2">
          <h2 class="text-2xl text-gray-700 font-semibold">
            Corporate Gifting
            <span class="text-xs text-[#009290]">
              (Submit your details below for Brochure)
            </span>
          </h2>
          <p class="leading-snug text-sm">
            Express love to your employees in the form of our customized corporate gifting solutions. We provide welcome kits and other gift boxes that can be an ideal token of rewards and recognition for your workforce. We offer co-branded corporate gifting solutions as well.
          </p>
        </div>
      </div>

      <!-- wedding gifts -->
      <div class="flex flex-col-reverse lg:flex-row">
        <div class="lg:w-1/2 w-full px-4 py-4 flex flex-col gap-2">
          <h2 class="text-2xl text-gray-700 font-semibold">
            Wedding Gifts
            <span class="text-xs text-[#009290]">
              (Submit your details below for Brochure)
            </span>
          </h2>
          <p class="leading-snug text-sm">
            The fundamental philosophy of Ayurveda rests on the concept of
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            harmony between the mind, body, and spirit. At Timeless, we offer
            ideal wedding gifts that help embrace and promote overall
            well-being. We firmly believe that true beauty comes from
            within, so be it your bachelorette or sangeet, we have bespoke
            wedding gifting solutions to cater to your every need.
          </p>
        </div>
        <div class="lg:w-1/2 w-full px-4 py-4">
          <img
            class="w-full mx-auto"
            src="{{ 'Mask Group 4.png' | asset_url }}"
            alt=""
            width=""
            height="" />
        </div>
      </div>

      <!-- Festive Gifting -->
      <div class="flex flex-col lg:flex-row">
        <div class="lg:w-1/2 w-full px-4 py-4">
          <img
            class="w-full mx-auto"
            src="{{ 'Mask Group 5.png' | asset_url }}"
            alt=""
            width=""
            height="" />
        </div>
        <div class="lg:w-1/2 w-full px-4 py-4 flex flex-col gap-2">
          <h2 class="text-2xl text-gray-700 font-semibold">
            Festive Gifting
            <span class="text-xs text-[#009290]">
              (Submit your details below for Brochure)
            </span>
          </h2>
          <p class="leading-snug text-sm">
            Embracing the philosophy of self-care with gratitude, at Kama
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            Ayurveda, we offer a series of evergreen gift boxes containing a
            selection of our bestselling products guaranteed to meet your
            every need. Committed to giving you the purest Ayurvedic
            formulas and unadulterated ingredients to guarantee results. We
            offer a wide range of seasonal gift sets to celebrate gift
            giving around the world.
          </p>
        </div>
      </div>

      <!-- gifts for him and her -->
      <div class="flex flex-col-reverse lg:flex-row">
        <div class="lg:w-1/2 w-full px-4 py-4 flex flex-col gap-2">
          <h2 class="text-2xl text-gray-700 font-semibold">
            Gifts for Him & Her
            <span class="text-xs text-[#009290]">
              (Submit your details below for Brochure)
            </span>
          </h2>
          <p class="leading-snug text-sm">
            As the world rediscovers the miracles of natural healing today
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            with the ancient science of Ayurveda, we offer custom-made gift
            packs for both men and women. Our entire range comprises
            products made from authentic 100 % natural, vegetarian, and use
            the highest quality of natural ingredients. Though our products
            are unisex but we create regimes and gift boxes for both men and
            women.
          </p>
        </div>
        <div class="lg:w-1/2 w-full px-4 py-4">
          <img
            class="w-full mx-auto"
            src="{{ 'Mask Group 6.png' | asset_url }}"
            alt=""
            width=""
            height="" />
        </div>
      </div>

      <!-- custom gifts -->
      <div class="flex flex-col lg:flex-row">
        <div class="lg:w-1/2 w-full px-4 py-4">
          <img
            class="w-full mx-auto"
            src="{{ 'Mask Group 7.png' | asset_url }}"
            alt=""
            width=""
            height="" />
        </div>
        <div class="lg:w-1/2 w-full px-4 py-4 flex flex-col gap-2">
          <h2 class="text-2xl text-gray-700 font-semibold">
            Customized Gifting
            <span class="text-xs text-[#009290]">
              (Submit your details below for Brochure)
            </span>
          </h2>
          <p class="leading-snug text-sm">
            We offer customized gift sets with Ayurvedic treatments for
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
            specific hair and skin concerns and a range of Ayurveda inspired
            day-to-day beauty solutions. Our team of experts works closely
            with every client to understand and create a unique and bespoke
            solution. Be it a special occasion or requirement, we offer
            time-tested authentic treatments for all concerns.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- video -->
  <div class="lg:px-[11rem] px-4 py-4 w-full">
    <div class="py-4">
      <iframe
        class="h-[400px] w-full border-1 border-gray-700"
        src="https://www.youtube.com/embed/eLzXPqyCt0Q?si=OxiA2HKN0I3DIQii"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; "
        allowfullscreen></iframe>
    </div>
  </div>


  <!-- certifications -->
  <div class="lg:px-[10rem] px-4 py-12 w-full">
    <div class="px-4 py-4 text-lg font-semibold text-gray-700">
      <h3>Our Certifications</h3>
    </div>

    <div class="px-4 py-4 lg:gap-y-16 gap-y-4 grid grid-cols-3 md:grid-cols-3 lg:grid-cols-5 place-items-center">
      <!-- Replace image source paths with provided image paths -->
      <div class="boxshadow flex items-center justify-center hover:bg-[#EDE9DD]">
        <img
          class="scale-[.65] w-24 h-24 transition-transform duration-300 transform hover:scale-[.8] hover:bg-[#EDE9DD]"
          src="{{ 'Artboard 30.png' | asset_url }}"
          alt=""
          width=""
          height="" />
      </div>
      <div class="boxshadow flex items-center justify-center hover:bg-[#EDE9DD]">
        <img
          class="scale-[.65] w-24 h-24 transition-transform duration-300 transform hover:scale-[.8] hover:bg-[#EDE9DD]"
          src="{{ 'Artboard 30 copy.png' | asset_url }}"
          alt=""
          width=""
          height="" />
      </div>
      <div class="boxshadow flex items-center justify-center hover:bg-[#EDE9DD]">
        <img
          class="scale-[.65] w-24 h-24 transition-transform duration-300 transform hover:scale-[.8] hover:bg-[#EDE9DD]"
          src="{{ 'Artboard 30 copy 2.png' | asset_url }}"
          alt=""
          width=""
          height="" />
      </div>
      <div class="boxshadow flex items-center justify-center hover:bg-[#EDE9DD]">
        <img
          class="scale-[.65] w-24 h-24 transition-transform duration-300 transform hover:scale-[.8] hover:bg-[#EDE9DD]"
          src="{{ 'Artboard 30 copy 3.png' | asset_url }}"
          alt=""
          width=""
          height="" />
      </div>
      <div class="boxshadow flex items-center justify-center hover:bg-[#EDE9DD]">
        <img
          class="scale-[.65] w-24 h-24 transition-transform duration-300 transform hover:scale-[.8] hover:bg-[#EDE9DD]"
          src="{{ 'Artboard 30 copy 4.png' | asset_url }}"
          alt=""
          width=""
          height="" />
      </div>
      <div class="boxshadow flex items-center justify-center hover:bg-[#EDE9DD]">
        <img
          class="scale-[.65] w-24 h-24 transition-transform duration-300 transform hover:scale-[.8] hover:bg-[#EDE9DD]"
          src="{{ 'Artboard 30 copy 5.png' | asset_url }}"
          alt=""
          width=""
          height="" />
      </div>
      <div class="boxshadow flex items-center justify-center hover:bg-[#EDE9DD]">
        <img
          class="scale-[.65] w-24 h-24 transition-transform duration-300 transform hover:scale-[.8] hover:bg-[#EDE9DD]"
          src="{{ 'Artboard 30 copy 6.png' | asset_url }}"
          alt=""
          width=""
          height="" />
      </div>
      <div class="boxshadow flex items-center justify-center hover:bg-[#EDE9DD]">
        <img
          class="scale-[.65] w-24 h-24 transition-transform duration-300 transform hover:scale-[.8] hover:bg-[#EDE9DD]"
          src="{{ 'Artboard 30 copy 7.png' | asset_url }}"
          alt=""
          width=""
          height="" />
      </div>
      <div class="boxshadow flex items-center justify-center hover:bg-[#EDE9DD] hidden lg:block">
        <img
          class="scale-[.65] w-24 h-24 transition-transform duration-300 transform hover:scale-[.8] hover:bg-[#EDE9DD]"
          src="{{ 'Artboard 30 copy 8.png' | asset_url }}"
          alt=""
          width=""
          height="" />
      </div>
      <div class="boxshadow flex items-center justify-center hover:bg-[#EDE9DD]">
        <img
          class="scale-[.65] w-24 h-24 transition-transform duration-300 transform hover:scale-[.8] hover:bg-[#EDE9DD]"
          src="{{ 'Artboard 30 copy 9.png' | asset_url }}"
          alt=""
          width=""
          height="" />
      </div>
    </div>
  </div>


  <!-- keep in touch -->
  <div class="lg:px-[10rem] px-4 py-4 w-full">
    <div class="px-4 text-lg font-semibold text-gray-700">
      <h3>Keep in touch</h3>
    </div>
    <div class="px-4 py-2 text-xs text-gray-700">
      <p>
        Please call us on the numbers below or submit your gifting inquiry and we will get in touch with you
      </p>
    </div>
    <div class="px-4 py-4 w-full gap-4 grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4">
      <div class="px-12 py-4 boxshadow rounded-md flex flex-col items-center justify-center gap-12">
        <div class="flex items-center justify-center">
          <img
            class="h-12 w-12"
            src="{{ 'call-icon.png' | asset_url }}"
            alt=""
            width=""
            height="" />
        </div>
        <button class="border border-gray-700 rounded-full text-xs shadow-lg px-6 lg:px-12 py-2">
          Call
        </button>
      </div>
      <div class="px-12 py-4 boxshadow rounded-md flex flex-col items-center justify-center gap-12">
        <div class="flex items-center justify-center">
          <img
            class="h-12 w-12"
            src="{{ 'email-icon.png' | asset_url }}"
            alt=""
            width=""
            height="" />
        </div>
        <button class="border border-gray-700 rounded-full text-xs shadow-lg px-6 lg:px-12 py-2">
          Email
        </button>
      </div>
      <div class="px-12 py-4 boxshadow rounded-md flex flex-col items-center justify-center gap-12">
        <div class="flex items-center justify-center">
          <img
            class="h-12 w-12"
            src="{{ 'chat-icon.png' | asset_url }}"
            alt=""
            width=""
            height="" />
        </div>
        <button class="border border-gray-700 rounded-full text-xs shadow-lg px-6 lg:px-12 py-2">
          Chat
        </button>
      </div>
      <div class="px-12 py-4 boxshadow rounded-md flex flex-col items-center justify-center gap-12">
        <div class="flex items-center justify-center">
          <img
            class="h-12 w-12"
            src="{{ 'whatsapp-icon.png' | asset_url }}"
            alt=""
            width=""
            height="" />
        </div>
        <button class="border border-gray-700 rounded-full text-xs shadow-lg px-6 py-2">
          WhatsApp
        </button>
      </div>
    </div>
  </div>


  {% render 'timelessSlider' %}
  {% render 'Animation' %}
</section>