<link rel="stylesheet" href={{ 'faqsStyles.css' | asset_url }}>

<section>
  {% render 'FAQs_Header' %}
  {% render 'FAQs_SearchBox' %}

  <div class="faqTabHeading">
    <p>SHIPPING</p>
  </div>

  <div class="faqQuesContentLg">
    <div class="faqContainer">
      <div class="leftSide">
        <div class="faqBox orderPlacement">
          <span class="faq-question-set-head">
            <p>Order Placement</p>
            <img
              src="{{ 'Expand Icon Mobile.png' | asset_url }}"
              alt=""
              width=""
              height="" />
          </span>
          <div class="faq-question-set">
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
          </div>
        </div>

        <div class="faqBox ShippingandDeliveryPolicies">
          <span class="faq-question-set-head">
            <p>Shipping and Delivery Policies</p>
            <img
              src="{{ 'Expand Icon Mobile.png' | asset_url }}"
              alt=""
              width=""
              height= />
          </span>
          <div class="faq-question-set">
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
          </div>
        </div>

        <div class="faqBox ShippingandDeliveryPolicies">
          <span class="faq-question-set-head">
            <p>Shipping and Delivery Policies</p>
            <img
              src="{{ 'Expand Icon Mobile.png' | asset_url }}"
              alt=""
              width=""
              height= />
          </span>
          <div class="faq-question-set">
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="rightSide">
        <div class="faqBox timelessSubscription">
          <span class="faq-question-set-head">
            <p>Timeless Subscription</p>
            <img
              src="{{ 'Expand Icon Mobile.png' | asset_url }}"
              alt=""
              width=""
              height= />
          </span>
          <div class="faq-question-set">
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
          </div>
        </div>

        <div class="faqBox giftWrap">
          <span class="faq-question-set-head">
            <p>Gift Wrap</p>
            <img
              src="{{ 'Expand Icon Mobile.png' | asset_url }}"
              alt=""
              width=""
              height= />
          </span>
          <div class="faq-question-set">
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
          </div>
        </div>

        <div class="faqBox crossBorderStore">
          <span class="faq-question-set-head">
            <p>Cross-Border Store</p>
            <img
              src="{{ 'Expand Icon Mobile.png' | asset_url }}"
              alt=""
              width=""
              height= />
          </span>
          <div class="faq-question-set">
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>What does 'Out of Stock' mean?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
            <div class="faq-question">
              <p>Why do I see different prices for the same product?</p>
              <p class="faq-answer">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.  Doloremque eligendi, ipsam deserunt cumque beatae velit iusto totam consequatur sequi, obcaecati aliquam reiciendis tempore id natus vel asperiores voluptate eos qui!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="faqQuesContentSm">
    <div>
      <div class="faqBox orderPlacement">
        <span class="faq-question-set-head">
          <p>Order Placement</p>
          <img
            src="{{ 'Expand Icon Mobile.png' | asset_url }}"
            alt=""
            width=""
            height= />
        </span>
        <div class="faq-question-set">
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
        </div>
      </div>

      <div class="faqBox timelessSubscription">
        <span class="faq-question-set-head">
          <p>Timeless Subscription</p>
          <img
            src="{{ 'Expand Icon Mobile.png' | asset_url }}"
            alt=""
            width=""
            height= />
        </span>
        <div class="faq-question-set">
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
        </div>
      </div>

      <div class="faqBox ShippingandDeliveryPolicies">
        <span class="faq-question-set-head">
          <p>Shipping and Delivery Policies</p>
          <img
            src="{{ 'Expand Icon Mobile.png' | asset_url }}"
            alt=""
            width=""
            height= />
        </span>
        <div class="faq-question-set">
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
        </div>
      </div>

      <div class="faqBox giftWrap">
        <span class="faq-question-set-head">
          <p>Shipping and Delivery Policies</p>
          <img
            src="{{ 'Expand Icon Mobile.png' | asset_url }}"
            alt=""
            width=""
            height= />
        </span>
        <div class="faq-question-set">
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
          <div class="faq-question">
            <p>Sample Question</p>
            <p class="faq-answer">Sample Answer</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script src="{{ "faqsAccordian.js" | asset_url }}" defer></script>

{% schema %}
  {
    "name": "ShippingFAQs",
    "settings": [
      {
        "type": "checkbox",
        "id": "FAQs_Header",
        "label": "Enable?",
        "default": true
      }, {
        "type": "checkbox",
        "id": "FAQs_SearchBox",
        "label": "Enable?",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "shippingFAQ"
      }
    ]
  }
{% endschema %}