<footer id="footer" class="bg-[#71645c]  w-full ">
  <div class="max-w-[1240px] w-[95%] mx-auto px-4 pb-4 pt-8 mx-auto flex md:items-center lg:items-start md:flex-row  flex-col ">
    <div class="flex-grow flex flex-wrap lg:text-left md:text-center sm:text-left">
      <div class="lg:w-1/4 md:w-1/2 w-full px-auto">
        <div class="flex items-center justify-between mt-2 mb-2 md:justify-center  lg:justify-start">
          <h2 class=" font-medium text-white text-base lg:text-left  md:text-center text-center md:text-center ">SHOP</h2>
          <p class="text-white font-bold text-md lg:hidden md:hidden" id="ShopNavToggle">+</p>
        </div>
        <hr class="text-white decoration-2 block md:hidden lg:hidden">
        <nav class="list-none mb-10 mt-2 hidden sm:content-start   lg:block md:block" id="shopNav">
          <li>
            <a href="{{ shop.url }}/collections/face" class="text-white sm:mb-2 uppercase md:normal-case lg:normal-case ">Face Care</a>
          </li>
          <li>
            <a href="{{ shop.url }}/collections/body" class="text-white sm:mb-2 uppercase md:normal-case lg:normal-case">Body Care</a>
          </li>
          <li>
            <a href="{{ shop.url }}/collections/hair" class="text-white sm:mb-2 uppercase md:normal-case lg:normal-case">Hair Care</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Custom-Made" class="text-white sm:mb-2 uppercase md:normal-case lg:normal-case">Custom</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Gifting" class="text-white sm:mb-2 uppercase md:normal-case lg:normal-case">Gifting</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-auto">
        <div class="flex items-center justify-between mt-2 mb-2 md:justify-center lg:justify-start">
          <h2 class="font-medium text-white text-base flex items-center justify-between text-left md:text-center">ABOUT</h2>
          <p class="text-white font-bold text-md block lg:hidden md:hidden" id="AboutNavToggle">+</p>
        </div>
        <hr class="text-white decoration-2  block md:hidden lg:hidden">
        <nav class="list-none mb-10  mt-2 hidden lg:block md:block" id="aboutNav">
          <li>
            <a href="{{ shop.url }}/pages/About-Us" class="text-white uppercase md:normal-case lg:normal-case">Our Story</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Giving-Back" class="text-white uppercase md:normal-case lg:normal-case">Giving Back</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Why-Timeless" class="text-white uppercase md:normal-case lg:normal-case">Why Timeless</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Philosophy" class="text-white uppercase md:normal-case lg:normal-case">Philosophy</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Certification" class="text-white uppercase md:normal-case lg:normal-case">Certification</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Careers" class="text-white uppercase md:normal-case lg:normal-case">Careers</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Policies" class="text-white uppercase md:normal-case lg:normal-case">Policies</a>
          </li>
          <li>
            <a href="./blog.html" class="text-white uppercase md:normal-case lg:normal-case">Blog</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-auto">
        <div class="flex items-center justify-between mt-2 mb-2 md:justify-center lg:justify-start">
          <h2 class=" font-medium text-white text-base text-left md:text-center ">QUICK LINKS</h2>
          <p class="text-white font-bold text-md block lg:hidden md:hidden" id="QuickNavToggle">+</p>
        </div>
        <hr class="text-white decoration-2  mt-2 block md:hidden lg:hidden">
        <nav class="list-none mb-10 hidden lg:block md:block " id="quickNav">
          <li>
            <a href="/account/login" class="text-white uppercase md:normal-case lg:normal-case">My Account</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Custom-Made" class="text-white uppercase md:normal-case lg:normal-case">Custom Product</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Timeless-Club" class="text-white uppercase md:normal-case lg:normal-case">Timeless Club</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Testimonials" class="text-white uppercase md:normal-case lg:normal-case">Customer Stories</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Terms-and-Conditions" class="text-white uppercase md:normal-case lg:normal-case">Terms & Conditions</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Referral-Program" class="text-white uppercase md:normal-case lg:normal-case">Refer a Friend</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/Contact-Us" class="text-white uppercase md:normal-case lg:normal-case">Contact Us</a>
          </li>
          <li>
            <a href="{{ shop.url }}/pages/FAQs" class="text-white uppercase md:normal-case lg:normal-case">FAQs</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-auto ">
        <div class="flex items-center justify-between mt-2 mb-2 md:justify-center lg:justify-start">
          <h2 class="font-medium text-white text-base text-left  md:text-center">GET IN TOUCH</h2>
          <p class="text-white font-bold text-md block lg:hidden md:hidden" id="TouchNavToggle"></p>
        </div>
        {% comment %} <hr class="text-white decoration-2 block md:hidden lg:hidden"> {% endcomment %}
        <nav class="list-none mb-4  mt-2 lg:block md:block w-full " id="touchNav">
          <li class="mt-4 lg:mt-0">
            <a class="text-white " href="mailto:contact@example.com">
              <p class="break-words">Email: Timelesscare@timelessbeautysecrets.co.in</p>
            </a>
          </li>
          <li class="mt-4 lg:mt-0">
            <a class="text-white" href="tel:+1234567890">Phone: +91 9090530011</a>
          </li>
          <li class="mt-4 lg:mt-0">
            <p class="text-white">Address: Bangalore, India - 560066</p>
          </li>
          <h2 class="mt-10 mb-8 text-white font-normal text-sm hidden lg:block md:block ">Follow us On</h2>
          <div class="items-center justify-center lg:justify-start  gap-4 hidden lg:flex md:flex">
            <img
              class="h-6 w-6"
              height=""
              width=""
              src="{{"Icon feather-twitter.png" | asset_url}}">
            <img
              class="h-6 w-6"
              height=""
              width=""
              src="{{"Icon feather-facebook.png" | asset_url}}">
            <img
              class="h-6 w-6"
              height=""
              width=""
              src="{{"Icon feather-youtube.png" | asset_url}}">
            <img
              class="h-6 w-6"
              height=""
              width=""
              src="{{"Icon feather-linkedin.png" | asset_url}}">
            <img
              class="h-6 w-6"
              height=""
              width=""
              src="{{"Icon feather-instagram.png" | asset_url}}">
          </div>
        </nav>
        <hr class="text-white decoration-2 block md:hidden lg:hidden" />
      </div>
      <div class="flex flex-col mt-[-20px]  lg:hidden md:hidden">
        <h2 class="mt-10 mb-8 text-white font-normal text-sm text-left uppercase md:normal-case lg:normal-case">Follow us</h2>
        <div class=" flex items-center justify-center lg:justify-start  gap-6 ">
          <img
            class="h-6 w-6"
            height=""
            width=""
            src="{{"Icon feather-twitter.png" | asset_url}}">
          <img
            class="h-6 w-6"
            height=""
            width=""
            src="{{"Icon feather-facebook.png" | asset_url}}">
          <img
            class="h-6 w-6"
            height=""
            width=""
            src="{{"Icon feather-youtube.png" | asset_url}}">
          <img
            class="h-6 w-6"
            height=""
            width=""
            src="{{"Icon feather-linkedin.png" | asset_url}}">
          <img
            class="h-6 w-6"
            height=""
            width=""
            src="{{"Icon feather-instagram.png" | asset_url}}">
        </div>
      </div>

    </div>
  </div>


  <div class="bg-white w-full lg:px-[11rem] px-4 overflow-x-hidden ">
    <div class="flex flex-col lg:flex-row  py-4  lg:justify-between items-center justify-center gap-4 ">
      <div>
        <p class="text-gray-500 text-sm text-center sm:text-left">TIMELESS BEAUTY SECRET ©
        </p>
      </div>
      <div>
        <span class="flex  mt-2  lg:justify-center items-center lg:gap-6 gap-1 overflow-x-auto">
          <img
            class="h-6 w-10"
            alt=""
            height=""
            width=""
            src="{{"Icon awesome-cc-amex.png" | asset_url}}">
          <img
            class="h-6 w-10"
            alt=""
            height=""
            width=""
            src="{{"Icon awesome-cc-diners-club.png" | asset_url}}">
          <img
            class="h-6 w-10"
            alt=""
            height=""
            width=""
            src="{{"Icon awesome-cc-jcb.png" | asset_url}}">
          <img
            class="h-6 w-10"
            alt=""
            height=""
            width=""
            src="{{"Icon metro-cc-paypal.png" | asset_url}}">
          <img
            class="h-6 w-10"
            alt=""
            height=""
            width=""
            src="{{"Icon metro-mastercard.png" | asset_url}}">
          <img
            class="h-6 w-10"
            alt=""
            height=""
            width=""
            src="{{"Icon metro-visa.png" | asset_url}}">
          <img
            class="h-6 w-10"
            alt=""
            height=""
            width=""
            src="{{"Icon payment-discover.png" | asset_url}}">
          <img
            class="h-6 w-10"
            alt=""
            height=""
            width=""
            src="{{"Icon payment-maestro-alt.png" | asset_url}}">
          <img
            class="h-6 w-10"
            alt=""
            height=""
            width=""
            src="{{"upi-icon.png" | asset_url}}">

        </span>
      </div>

    </div>
  </div>
</footer>
<script src="{{ "Footer.js" | asset_url }}" defer></script>