<link rel="stylesheet" href="{{ 'Navbar.css' | asset_url }}">

<header id="defaultNavbar" class="sticky top-0 z-[100] overflow-x-hidden  ">
  <aside class="fixed hidden top-0 z-[700] bg-[#EDE9DD] left-0  h-screen overflow-y-auto" id="headersidebar">
    <div class="px-4 py-4  h-full">
      <div class=" flex flex-col justify-start h-full w-64 py-2">
        <!-- top-heading -->
        <div class=" ">
          <div class="flex items-center justify-between px-2 ">
            <img
              class="h-12 w-12"
              height=""
              width=""
              src="{{ 'Logo Dark.png' | asset_url }}">
            <p class="text-gray-700 text-base font-light">
              LOGIN/REGISTER
            </p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              id="closeHeaderSidebar"
              class="w-6 h-6 rotate-45">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15" />

            </svg>

          </div>
          <hr class="border border-gray-500 decoration-1 ">
        </div>

        <div class=" px-4">
          <!-- face -->

          <div class="flex items-center justify-between mb-1 ">

            <p class="text-gray-700 text-base  font-light">
              Face
            </p>
            <button class="text-3xl " id="faceoptionsToggle">+</button>

          </div>
          <!-- face options -->
          <div class="hidden" id="faceOptions">
            {% comment %} <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Category</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Condition</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Concern</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Range</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>


            </div> {% endcomment %}

            <form class="border-2 border-[red]" id="filter_form2">
              
              {%- for filter in collections.face.filters -%}
                <details class="" open>
                  {% comment %} this gives us headings {% endcomment %}
                  <summary class="flex border-b ">
                    <div class="flex py-2 px-2">
                      <span class="text-sm font-semibold">{{ filter.label }}</span>
                    </div>
                  </summary>
                  <hr class=""/>
                  <div class="pl-2">
                    <div class="mt-2">
                      {%- if filter.active_values.size > 0 -%}
                        <p class="hidden"><a href="{{ filter.url_to_remove }}">Reset</a></p>
                      {%- endif -%}
                    </div>
                    {%- case filter.type -%}
                      {% comment %} displays filter options {% endcomment %}
                      {%- when 'list' -%}
                      <ul class="">
                        {%- for filter_value in filter.values -%}
                          <li class="flex items-center  px-2 gap-2">
                            <input type="checkbox" name="{{ filter_value.param_name }}" value="{{ filter_value.value }}"
                                 id="Filter-{{ filter.param_name }}-{{ forloop.index }}" {% if filter_value.active -%}checked{%- endif %}
                                 {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                                 onChange="CheckFormData()" />
                            <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}" class="">{{ filter_value.label }}</label>
                          </li> 
                        {%- endfor -%}
                      </ul>
                    {%- endcase -%}
                  </div>
                </details>
              {%- endfor -%}
      
              <div class=" hidden">
                <p class="hidden">
                  <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}">Clear all</a>
                </p>
      
                {%- for filter in collection.filters -%}
                  {%- for filter_value in filter.active_values -%}
                    <p>
                      <a href="{{ filter_value.url_to_remove }}">
                        {{ filter.label }}: {{ filter_value.label }} X
                      </a>
                    </p>
                  {%- endfor -%}
                {%- endfor -%}
              </div>
            </form>
      
            <script>
              function CheckFormData(){
                console.log("CheckboxChanged");
                form=document.getElementById("filter_form1");
                const queryString = new URLSearchParams(new FormData(form)).toString()
                console.log(queryString);
                currentUrl= "body?"+queryString;
                window.location.href=currentUrl
              }
      
              function CheckFormData(){
                console.log("CheckboxChanged");
                form=document.getElementById("filter_form2");
                const queryString = new URLSearchParams(new FormData(form)).toString()
                console.log(queryString);
                currentUrl= "body?"+queryString;
                window.location.href=currentUrl
              }
            </script>

          </div>

          <hr class="border border-gray-500 decoration-1 mb-1">

          <!-- hair -->
          <div class="flex items-center justify-between mb-1 ">

            <p class="text-gray-700 text-base font-light">
              Hair
            </p>
            <button class="text-3xl " id="hairoptionsToggle">+</button>

          </div>
          <!-- hair options -->

          <div class="hidden" id="HairOptions">
            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Category</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Condition</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Concern</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Range</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>


            </div>

          </div>

          <hr class="border border-gray-500 decoration-1 mb-1">


          <!-- body -->
          <div class="flex items-center justify-between mb-1 ">

            <p class="text-gray-700 text-base  font-light">
              Body
            </p>
            <button class="text-3xl " id="bodyoptionsToggle">+</button>

          </div>

          <!-- body options -->

          <div class="hidden" id="BodyOptions">
            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Category</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Condition</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Concern</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Range</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>


            </div>

          </div>

          <hr class="border border-gray-500 decoration-1 mb-1">


          <!-- Mini -->
          <div class="flex items-center justify-between mb-1 ">

            <p class="text-gray-700 text-base  font-light">
              Mini's
            </p>
            <button class="text-3xl" id="minioptionsToggle">+</button>

          </div>


          <!-- mini options -->
          <div class="hidden" id="MiniOptions">
            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Category</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Condition</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Concern</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Range</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>


            </div>

          </div>

          <hr class="border border-gray-500 decoration-1 mb-1">

          <!-- shop by concern -->
          <div class="flex items-center justify-between mb-1 ">

            <p class="text-gray-700 text-base  font-light">
              Shop By Concern
            </p>
            <button class="text-3xl " id="shopConcernOptionsToggle">+</button>

          </div>

          <!-- shop by concern options -->


          <div class="hidden" id="ShopConcernOptions">
            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Category</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Condition</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Concern</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>
              <hr class="border border-gray-500 decoration-1 mb-2">

            </div>

            <div class="flex flex-col  mb-1 ">
              <p class="mb-1 font-semibold">By Range</p>

              <div class="pl-4 mb-2">
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" my-2">Placeholder</p>
                <hr class="border border-gray-500 decoration-1 ">
                <p class=" mt-2">Placeholder</p>
              </div>


            </div>

          </div>

          <hr class="border border-gray-500 decoration-1 mb-1">


          <!-- Secrets -->
          <div class="flex items-center justify-between mb-1 ">

            <p class="text-gray-700 text-base font-light">
              <a href="./secrets.html">
                Secrets</a>

            </p>


          </div>
          <hr class="border border-gray-500 decoration-1 mb-1">
          <!-- gifting -->
          <div class="flex items-center justify-between mb-1 ">

            <p class="text-gray-700 text-base font-light">
              <a href="./gifting.html">Gifting</a>
            </p>


          </div>
          <hr class="border border-gray-500 decoration-1 mb-1">
          <!-- offers -->
          <div class="flex items-center justify-between mb-1 ">

            <p class="text-gray-700 text-base font-light">
              <a href="./offers.html">Offers</a>
            </p>


          </div>
          <hr class="border border-gray-500 decoration-1 mb-1">
          <!-- testimonials -->
          <div class="flex items-center justify-between mb-1 ">

            <p class="text-gray-700 text-base font-light">
              <a href="./testimonials.html">Testimonials</a>
            </p>


          </div>
          <hr class="border border-gray-500 decoration-1 mb-1">
          <!-- Club -->
          <div class="flex items-center justify-between mb-1 ">

            <p class="text-gray-700 text-base font-light">
              <a href="./club.html">Club</a>
            </p>


          </div>
          <hr class="border border-gray-500 decoration-1 mb-1">
          <!-- Stores -->
          <div class="flex items-center justify-between mb-1 ">

            <p class="text-gray-700 text-base font-light">
              <a href="">Stores</a>
            </p>


          </div>
          <hr class="border border-gray-500 decoration-1 mb-1">
          <!-- Wishlist -->
          <div class="flex items-center justify-between mb-1 ">

            <p class="text-gray-700 text-base font-light">
              <a href="./myAccount.html">Wishlist</a>
            </p>


          </div>
          <hr class="border border-gray-500 decoration-1 mb-1">
          <!-- About Us -->
          <div class="flex items-center justify-between mb-1 ">

            <p class="text-gray-700 text-base font-light">
              <a href="./aboutus.html">About Us</a>
            </p>


          </div>
          <hr class="border border-gray-500 decoration-1 mb-1">

        </div>


      </div>


    </div>


  </aside>

  <!-- cart sidebar -->
  <aside class="fixed hidden top-0 z-[600] bg-[#DEDEDE] right-0  h-screen overflow-y-auto overflow-x-hidden w-[380px]" id="CartSideBar">

    <!-- top heading -->
    <div class=" flex items-center justify-end gap-8 bg-[white] p-1  text-sm shadow-[black] shadow-sm">
      <div class=" text-center gap-4">
        <p>
          <span id="cart-items-count"></span>
          items in your bag -
          <span>{{ "View Bag" | link_to: "/cart" }}</span>
        </p>
      </div>
      <div>
        <button class="rotate-45 text-2xl font-semibold pr-2 hover:cursor-pointer" id="CartSideBarCloseButton">+</button>
      </div>
    </div>


    <div class="px-4 py-1  h-full">
      <div class=" flex flex-col h-full gap-2">

        {% comment %} cart scroll {% endcomment %}
        <div id="cartScroll" class="flex flex-col overflow-y-auto items-center space-y-2  ">

          {% comment %} {% for item in cart.items %}
                                                                                                                                                                                                                                                                      <div class="cartProduct " >
                                                                                                                                                                                                                                                                        <div class=" flex items-center px-4 gap-4 bg-[white] w-full  text-sm ">
                                                                                                                                                                                                                                                                          <div class="border-2 border-gray-700">
                                                                                                                                                                                                                                                                            <img class="w-32" height="" width="" src={{ item.image | img_url}}>
                                                                                                                                                                                                                                                                          </div>
                                          
                                                                                                                                                                                                                                                                          <div class="flex flex-col py-2">
                                                                                                                                                                                                                                                                            <h1 class="mb-2">{{ item.title }}</h1>
                                                                                                                                                                                                                                                                            <div class="flex items-center justify-between text-xs"><p>Price</p> <span>{{ item.price }}</span></div>
                                                                                                                                                                                                                                                                            <div class="flex items-center justify-between  text-xs"><p>Weight</p> <span>{{ item.quantity }}</span></div>
                                                                                                                                                                                                                                                                            <div class="flex items-center justify-between  my-1 text-xs">
                                                                                                                                                                                                                                                                              <p>Quantity</p>
                                                                                                                                                                                                                                                                              <div class="border border-gray-700 rounded-3xl mr-[-5px]">
                                                                                                                                                                                                                                                                                  <div class="flex items-center justify-center gap-2  px-2">
                                                    
                                                                                                                                                                                                                                                                                      <div class=" rounded-r-2xl " >
                                                                                                                                                                                                                                                                                          <p class="text-center text-xs">
                                                                                                                                                                                                                                                                                            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-3 h-3">
                                                                                                                                                                                                                                                                                              <path fill-rule="evenodd" d="M4 10a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H4.75A.75.75 0 0 1 4 10Z" clip-rule="evenodd" />
                                                                                                                                                                                                                                                                                            </svg>
                                                                          
                                                                          
                                                                                                                                                                                                                                                                                          </p>
                                                                                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                                                                                      <div class="" >
                                                                                                                                                                                                                                                                                          <p class="text-center text-md  font-semibold">{{ item.quantity }}</p>
                                                                                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                                                                                      <div class="  rounded-r-2xl " >
                                                                                                                                                                                                                                                                                          <p class="text-center text-xs">
                                                                                                                                                                                                                                                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-3 h-3">
                                                                                                                                                                                                                                                                                              <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                                                                                                                                                                                                                                                                                            </svg>
                                                                          
                                                                                                                                                                                                                                                                                          </p>
                                                                                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                                                                                  </div>
                                                                                                                                                                                                                                                                              </div>
                                                                                                                                                                                                                                                                          </div>
                                                          
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                                                        <hr>
                                                                                                                                                                                                                                                                        <div class="border-2  bg-[white] w-full px-2 py-2">
                                                                                                                                                                                                                                                                          <div class="flex items-center justify-between text-xs">
                                                                                                                                                                                                                                                                            <div class="flex items-center justify-center gap-2"><p>Subtotal</p> <span>₹ {{ item.final_line_price }} </span></div>
                                                                                                                                                                                                                                                                            <div>
                                                                                                                                                                                                                                                                              <a href="{{ item.url_to_remove }}">
                                                                                                                                                                                                                                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                                                                                                                                                                                                                                                                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                                                                                                                                                                                                                                                              </svg>
                                          
                                                                                                                                                                                                                                                                              </a>
                                                          
                                                            
                                                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                            {% endfor %} {% endcomment %}

        </div>


        <!-- send my order in a gift -->

        <div class="bg-[white] p-2 rounded-lg text-sm ">
          <div class="flex items-center gap-4">
            <input
              id="order_in_Gift"
              type="checkbox"
              value=""
              class="w-4 h-4 text-[red] bg-[red] rounded  ">
            <label for="default-checkbox" class="text-xs font-medium text-gray-900 ">Send my order in a gift box.</label>
          </div>
        </div>

        <!-- order summary -->
        <div class="bg-[white] p-2 rounded-lg text-sm shadow-[black] shadow-sm">
          <h1 class="mb-2 font-medium">Order Summary</h1>
          <div class="flex items-center justify-between">
            <p>Bag Total</p>
            <span>
              {{ cart.original_total_price | money }}</span>
          </div>
          <div class="flex items-center justify-between">
            <p>Voucher Applied</p>
            <span>-{{ cart.total_discount | money }}</span>
          </div>
          <div class="flex items-center justify-between">
            <p>Points Redeemed</p>
            <span>-  0.00</span>
          </div>
          <div class="flex items-center justify-between">
            <p>Delivery</p>
            <span>- 0.00
            </span>
          </div>
          <hr class="mt-2">
          <div class="flex items-center justify-between">
            <p>Grand Total</p>
            <span>{{ cart.total_price | money }}</span>
          </div>
          <hr>

        </div>


        <!-- note -->
        <div class="bg-[white] p-2 rounded-lg shadow-[black] shadow-sm">
          <h1 class="mb-1">Note</h1>
          <p class="leading-tight text-xs">Club points, Vouchers & Gift Cards can be redeemed
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
          during payment (cannot be clubbed with any other offer)
          *T&C apply.</p>
        </div>
        <!-- bottom buttons -->
        <div class="flex flex-col gap-1 ">
          <a href="/cart" class="w-full ">
            <button class="text-white text-sm border border-gray-600 px-6 py-2 rounded-full mb-2  w-full shadow-md shadow-[black]  bg-[#009290] ">Easy Checkout</button>
          </a>

          <a href="/checkout" class="w-full ">
            <button class="text-white text-sm border border-gray-600 px-6 py-2 rounded-full mb-2  w-full shadow-md shadow-[black]  bg-[#009290] ">Quick Checkout-Club Members</button>
          </a>
        </div>

      </div>
    </div>
  </aside>

  <!-- my header -->
  <div class=" w-full sticky top-0 z-[100] bg-white  overflow-x-hidden overflow-y-hidden" id="header-Scroll">
    <div class="max-w-[1240px] w-[95%] mx-auto flex items-center  justify-between px-4 h-[80px]  overflow-x-hidden">
      <!-- Burger menu for small screen -->
      <div class="lg:hidden flex items-center justify-start">
        <!-- Burger menu icon -->
        <button id="showHeaderSidebar" class="h-8 w-8  rounded flex items-center justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 m-auto text-black">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>

        </button>
        <img
          id="showSearchPanel"
          height=""
          width=""
          class="h-6"
          src="{{ 'NoPath - Copy.png' | asset_url }}">
      </div>

      <!-- navigation logo for large screen -->
      <div class="hidden lg:block">
        <a href="{{ shop.url }}/pages/Locations"><img
            height=""
            width=""
            class="h-6"
            src="{{ 'LocationIcon.png' | asset_url}}"></a>
      </div>

      <!-- main logo -->
      <div class="lg:ml-16 ">
        <a href="/"><img
            height=""
            width=""
            class="lg:h-20 md:h-12 h-12 cursor-pointer "
            src="{{ 'Group 1.png' | asset_url }}" /></a>
      </div>

      <!-- right options on large screen -->
      <div class="hidden lg:flex  items-center justify-center gap-6">
        <img
          id="showSearchPanel"
          class="h-6 cursor-pointer "
          height=""
          width=""
          src="{{ 'NoPath - Copy.png' | asset_url }}">

        <a href="{{ shop.url }}/account">
          <img
            height=""
            width=""
            class="h-6 cursor-pointer "
            src="{{ 'Icon feather-heart.png' | asset_url }}"></a>

        <a href="{{ shop.url }}/account">
          <img
            height=""
            width=""
            class="h-6 cursor-pointer "
            src="{{ 'NoPath - Copy (11).png' | asset_url }}"></a>
        <img
          class="h-6 cursor-pointer "
          height=""
          width=""
          src="{{ 'NoPath - Copy (10).png' | asset_url }}"
          id="CartSideBarToggleButton">
      </div>

      <!-- right options on small screen -->
      <div class="lg:hidden flex items-center justify-start gap-2">
        <!--
        -->
        <button class="h-6 w-6  rounded flex items-center justify-center" id="profilemodalswitch">

          <img
            class="h-6 cursor-pointer"
            height=""
            width=""
            src="{{ 'NoPath - Copy (11).png' | asset_url}}">

        </button>

        <button class="h-6 w-6  rounded flex items-center justify-center">
          <a href="{{ shop.url }}/cart">
            <img
              class="h-6"
              height=""
              width=""
              src="{{ 'NoPath - Copy (10).png' | asset_url }}">
          </a>
        </button>

      </div>


    </div>
    <hr>

    <!-- options -->
    <div class="max-w-[1240px] w-[95%] mx-auto flex items-center lg:justify-between  px-auto   overflow-x-auto  bg-white h-[32px] text-[#70645C] " id="nav-Scroll">
      <a href="{{ shop.url }}/pages/Ready-Made">
        <button class="text-base  px-4 py-1 hover:bg-[#70645C] hover:text-white focus:text-white focus:bg-[#70645C]">Home</button>
      </a>
      <a href="{{ shop.url }}/collections/face">
        <button class="text-base  px-4 py-1 hover:bg-[#70645C] hover:text-white focus:text-white focus:bg-[#70645C]">Face</button>
      </a>
      <a href="{{ shop.url }}/collections/hair">
        <button class="text-base  px-4 py-1 hover:bg-[#70645C] hover:text-white focus:text-white focus:bg-[#70645C]">Hair</button>
      </a>
      <a href="{{ shop.url }}/collections/body">
        <button class="text-base  px-4 py-1 hover:bg-[#70645C] hover:text-white focus:text-white focus:bg-[#70645C]">Body</button>
      </a>
      <a href="{{ shop.url }}/pages/Secrets">
        <button class="text-base  px-4 py-1 hover:bg-[#70645C] hover:text-white focus:text-white focus:bg-[#70645C]">Secret's</button>
      </a>
      <a href="./miniPage.html">
        <button class="text-base  px-4 py-1 hover:bg-[#70645C] hover:text-white focus:text-white focus:bg-[#70645C]">Mini's</button>
      </a>
      <a href="{{ shop.url }}/pages/Gifting">
        <button class="text-base  px-4 py-1 hover:bg-[#70645C] hover:text-white focus:text-white focus:bg-[#70645C]">Gifting</button>
      </a>
      <a href="./offers.html">
        <button class="text-base  px-4 py-1 hover:bg-[#70645C] hover:text-white focus:text-white focus:bg-[#70645C]">Offers</button>
      </a>
      <a href="{{ shop.url }}/pages/Testimonials">
        <button class="text-base  px-4 py-1 hover:bg-[#70645C] hover:text-white focus:text-white focus:bg-[#70645C]">Testimonials</button>
      </a>
      <a href="{{ shop.url }}/pages/Timeless-Club">
        <button class="text-base  px-4 py-1 hover:bg-[#70645C] hover:text-white focus:text-white focus:bg-[#70645C]">Club</button>
      </a>
      <a href="{{ shop.url }}/pages/About-Us">
        <button class="text-base px-4 py-1 hover:bg-[#70645C] hover:text-white focus:text-white focus:bg-[#70645C] whitespace-nowrap">About Us</button>
      </a>

    </div>

    <hr>
    <!-- search panel -->
    <div class="w-full bg-gray-400  p-4  flex items-center hidden" id="SearchPanel">
      <div class="w-full flex justify-center items-center ">
        <div class=" w-11/12 flex items-center justify-center ">
          <form action="{{ routes.search_url }}" class="relative w-full my-auto ">
            <input
              type="text"
              id="search-input"
              placeholder="Search the Web Store..."
              class="outline-none border border-black w-full p-2 
               text-[black]"
              name="q"
              value="{{ search.terms | escape }}">
            <button
              class=" absolute bottom-2 right-4 h-6 w-6 rounded flex items-center justify-center cursor-pointer "
              type="submit"
              value="Search">
              <img
                class="h-6"
                height=""
                width=""
                src="{{ 'NoPath - Copy.png' | asset_url }}">
            </button>
          </form>

        </div>
        <div class="w-1/10" id="closeSearchPanel">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-10 h-10 rotate-45">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15" />

          </svg>
        </div>
      </div>

    </div>
  </div>

  <!-- profile modal -->
  <div id="profilemodal" class="fixed hidden top-0 left-0 right-0 z-[700]  justify-center items-center w-full md:inset-0 h-screen  ">
    <div class="relative ml-auto w-36 right-4 top-16  opacity-100 " onclick=" keepModalOpen(event)">
      <!-- Modal content -->
      <div class="relative  rounded-lg shadow bg-[#ede9dd] ">

        <!-- Modal body -->
        <div class="space-y-4 py-2">
          <div>
            <div class="flex items-center justify-start gap-4 mb-1 px-2 ">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>


              <p class="text-gray-700 text-md font-light">
                <a href="{{ shop.url }}/account/login">Sign In</a>
              </p>


            </div>
            <hr class="border-[0.1] border-gray-500 decoration-1 mb-1 ">

            <div class="flex items-center justify-start gap-4 mb-1 px-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
              </svg>


              <p class="text-gray-700 text-md font-light">
                <a href="{{ shop.url }}/account/register">Register</a>
              </p>


            </div>
            <hr class="border-[0.1] border-gray-500 decoration-1 mb-1">

            <div class="flex items-center justify-start gap-4 mb-1 px-2 ">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
              </svg>


              <p class="text-gray-700 text-md font-light">
                Cart
              </p>


            </div>
            <hr class="border-[0.1] border-gray-500 decoration-1 mb-1 ">

            <div class="flex items-center justify-start gap-4 mb-1 px-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>


              <p class="text-gray-700 text-md font-light">
                <a href="{{ shop.url }}/account">My Account</a>
              </p>


            </div>
            <hr class="border-[0.1] border-gray-500 decoration-1 mb-1">

            <div class="flex items-center justify-start gap-4 mb-1 px-2 ">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
              </svg>


              <p class="text-gray-700 text-md font-light">
                My Wishlist
              </p>


            </div>
            <hr class="border-[0.1] border-gray-500 decoration-1 mb-1 ">

            <div class="flex items-center justify-start gap-4 mb-1 px-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
              </svg>


              <p class="text-gray-700 text-md font-light">
                Track Order
              </p>


            </div>


          </div>


        </div>
      <!-- Modal footer -->

      </div>
    </div>
  </div>

<!-- header component finished -->
</header>

<script src="{{ "Navbar.js" | asset_url }}" defer></script>