<link rel="stylesheet" href="{{ 'swiper.css' | asset_url }}" >
<link rel="stylesheet" href="{{ 'TimelessHover.css' | asset_url }}" >
<link rel="stylesheet" href="{{ 'TimelessSlider.css' | asset_url }}" >


<div class=" w-full overflow-x-hidden ">
  <div class="text-gray-600 body-font">
       <div class="lg:px-[10rem] py-8 mx-auto">
          <div class="px-1 py-1 mx-auto">
              <div class="flex flex-col text-center w-full">
                <h1 class=" text-4xl font-normal mb-4 " style="font-family: Bilgrotia Sans;">Why Timeless </h1> 
              </div>
              <div class="swiper myTimelessSwiper relative ">
                    <div class="swiper-wrapper ">
                        <div class="swiper-slide ">
                            <div class="p-4 w-full ">
                                <div class="rounded overflow-hidden">
                                    <div class="container">
                                        <div class="card h-96 w-full border-2 border-gray-600">
                                            <div class="imgBx">
                                                <h1 class=" text-center text-Black text-2xl font-bold  mb-1">The Forgotten Way</h1> 
                                            </div>
                            
                                            <div class="contentBx px-8 ">
                                
                                                <h2 class="text-black"> Our products are a re-imagination of treasured ancient beauty rituals for skin, hair, body & beauty. Melding ancient wisdom with science, our organic products soaked with essential vitamins, minerals & botanicals, have a rare potency to enhance your beauty
                        
                                                </h2>
                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide ">
                            <div class="p-4 w-full ">
                                <div class="rounded overflow-hidden">
                                    <div class="container">
                                        <div class="card h-96 w-full border-2 border-gray-600">
                                            <div class="imgBx">
                                                <h1 class=" text-center text-Black text-2xl font-bold  mb-1">The Forgotten Way</h1> 
                                            </div>
                            
                                            <div class="contentBx px-8 ">
                                
                                                <h2 class="text-black"> Our products are a re-imagination of treasured ancient beauty rituals for skin, hair, body & beauty. Melding ancient wisdom with science, our organic products soaked with essential vitamins, minerals & botanicals, have a rare potency to enhance your beauty
                        
                                                </h2>
                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide ">
                            <div class="p-4 w-full ">
                                <div class="rounded overflow-hidden">
                                    <div class="container">
                                        <div class="card h-96 w-full border-2 border-gray-600">
                                            <div class="imgBx">
                                                <h1 class=" text-center text-Black text-2xl font-bold  mb-1">The Forgotten Way</h1> 
                                            </div>
                            
                                            <div class="contentBx px-8 ">
                                
                                                <h2 class="text-black"> Our products are a re-imagination of treasured ancient beauty rituals for skin, hair, body & beauty. Melding ancient wisdom with science, our organic products soaked with essential vitamins, minerals & botanicals, have a rare potency to enhance your beauty
                        
                                                </h2>
                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                <div class="swiper-pagination relative top-[40px] "></div>
                    <!-- Add Navigation -->
                <div class="swiper-button-prev "></div>
                <div class="swiper-button-next "></div>
              </div>
          </div> 
        </div> 
  </div>
</div>

{{ "swiper.js"  |  asset_url | script_tag defer}}
{{ "TimelessSwiper.js"  |  asset_url | script_tag defer}}
